body{
    margin: 0;
    font-family:Poppins, ui-sans-serif, system-ui;
    width: 100%;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}
.pointer1{
    pointer-events: none;
}
.pointer2{
    pointer-events: visible;
}
/* top botton */
#top{
    position: absolute;
    top: -10px;
}
#top1{
    position: fixed;
    right: 10px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 5px 8px 10px 8px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
    background: rgba(10, 0, 0, 0.979);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
#top1:hover{
    background: rgba(5, 0, 0, 0.698);
}
#top1 a{
    text-decoration: none;
    color: #ffffff;
   
}
#top1.topadd{
    pointer-events: all;
    bottom: 20px;
    opacity: 1;
    z-index: 100;
    position: fixed;
    right: 10px;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* top botton ends*/

/* moon */
.moon{
    position: fixed;
    z-index: 1;
    top: 9px;
    left: 50%;
    right: 50%;
    width: 27px;
    height: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    /* border: 1px solid whitesmoke; */
    border-radius: 50%;
    background: #03A9F4;
    transition: .5s;
}
.moon:hover{
    background: rgb(1, 123, 172);
}
.fa-moon{
    color: black;
    cursor: pointer;
    transition: .6s;
    /* min-width: 20px !important; */
    /* height: 100%; */
}
#famoon{
    display: none;
    color: whitesmoke !important;
    cursor: pointer;
    transition: .6s;
}
/* moon ends */
/* firstheader */
#firstheadercontrol1{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background:rgba(0,0,0,1);
    height: 50px;
}
#firstheadercallicon{
    cursor: pointer;
}
#firstheadercallicon1{
    display: none;
    width: 300px;
    height: 110px;
    background: rgba(0,0,0,1);
    position: absolute;
    z-index: 1000;
    top: 0;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    animation: popcall .5s;
}
@keyframes popcall{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
#firstheadercallicon1 button{
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}
#firstheadercallicon2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#firstheadercallicon2 ul{
    list-style: none;
    padding-left: 0;
    margin-left: 10px;

}
#firstheadercallicon2 ul li:first-child{
    padding-bottom: 5px;
}
#firstheadercallicon2 ul li a:hover{
    color: #03A9F4;
    border-bottom: 1px dotted #03A9F4;
}
#firstheadercallicon2 ul li a{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: .5s ease;
    color: rgba(255,255,255,.8);
}
#firstheadercontrol2{
    display: flex;
}
#firstheadercontrol2 a{
    color: rgba(255,255,255,.8);
}
#firstheadera{
    letter-spacing: 1px;
    margin-left: 5px;
    text-decoration: none;
    transition: .5s ease;
}
#firstheadera:hover{
    color: #03A9F4;
    border-bottom: 1px dotted #03A9F4;
}
#firstheaderimg{
    display: flex;
    align-items: center;
    text-decoration: none;
}
/* fontawesomeicon */
.fa-sharp{
    color: #03A9F4 !important;
    transition: .5s;
}
.fa-sharp:hover{
    color: rgb(189, 0, 0) !important;
}
.fa-brands{
    color: #03A9F4 !important;
    transition: .5s;
}
.fa-brands:hover{
    color: rgb(189, 0, 0) !important;
}
.fa-phone{
    cursor: pointer;
    transition: .5s;
}
.fa-phone:hover{
    color: rgb(189, 0, 0) !important;
}
.fa-envelope{
    color: #03A9F4 !important;
    transition: .5s;
}
.fa-envelope:hover{
    color: rgb(189, 0, 0) !important;
}
.fa-house-laptop{
    color: dodgerblue;
}
/* fontawesomeicon ends*/
#firstheader2a ol{
    list-style: none;
    padding-left: 0;
}
#firstheadercontrol22{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 5px;
}
#firstheadercontrol3{
    display: flex;
    align-items: center;
}
#firstheadercontrol3 ul{
    display: flex;
    align-items: center;
    list-style: none;
}
#firstheadercontrol3 ul li{
    padding-left: 8px;
    padding-right: 8px;
    transition: .3s ease;
}
/* firstheader @media */
@media all and (max-width:680px){
    #firstheader2a ol{
        display: none;
    }
    #firstheadera{
        display: none;
    }
    #firstheadercontrol22{
        padding: 0 5px;
    }
    #firstheaderimg{
        transition: .5s ease;
    }
    #firstheadercallicon{
        transition: .5s ease;
    }
}
@media all and (max-width:300px){
    #displaynone{
        display: none;
    }
}
/* firstheader styling ends here */
/* secondheader */
.header{
    background:linear-gradient(to right, white,white,rgba(3,169,244,1)), white;
    /* position: sticky; */
    /* position: inherit */
    top: 0;
    /* z-index: 100; */
    border-top: 1px solid #03A9F4;
    box-shadow: 0px 3px 15px rgba(3, 169,244,.5);
    transition: .6s;
}
.header1{
    position: relative;
}
.navbar{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
.navlogo{
    display: flex;
    align-items: center;
}
.navlogo h2{
    margin-left: 5px;
    font-weight: 900;
}
.navlogo h2:before{
    content: "";
    animation: ami infinite 10s;
}
@keyframes ami{
    0%{
        content: 'AIIST';
        color: red;
    }
    50%{
        content: 'AIIST';
        color: blue;
    }
    100%{
        content: 'AIIST';
        color:red;
    }
}
.nav-menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav-menu-close{
    display: none;
}
.home{
    color: red !important;
}
.nav-menu li{
    letter-spacing: 2px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    transition: .7s ease;
}
.nav-menu li a{
    text-decoration: none;
    color: blue;
    transition: 0.5s ease;
    font-size: 1.1rem;
}
.nav-menu li a:hover{
    color: rgba(3, 2, 95, 0.836);
}
.hamburger{
    display: none;
    cursor: pointer;
    padding: 2px 10px; 
    transition: .5s ease;
}
.bar{
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background: blue;
}
/* for the pupup I.T. courses */
.business, .itcourses{
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    transition: .5s;
    background: rgba(0,0,0,.3);
}
.itcourses1con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
}
.business1, .itcourses1{
    width: 30%;
    color: #03A9F4;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgba(255,255,255,.8);
    background: rgba(0,0,0,1);
    animation: itcourse .5s;
}
@keyframes itcourse{
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1)
    }
}
.itcourses1 ul{
    list-style: none;
}
.itcourses1 ul li{
    padding: 5px;
    font-size: 1.2rem;
}
.itcourses1 ul li:before{
    content: "\27A4";
    margin-right: 5px;
}
.itcourses1 ul li a{
    text-decoration: none;
    color: rgba(255,255,255,.8);
    transition: .5s ease;
}
.itcourses1 ul li a:hover{
    color: #03A9F4;
}
.itcourses2{
    margin-bottom: -20px;
    margin-top: -10px;
    text-align: end;
}
.itcourses3{
    font-size: 1.5rem;
    font-weight: 900;
    border: none;
    outline: none;
    color: red;
    background: transparent;
    cursor: pointer;
}
/* for the pupup I.T. courses ends here */
/* @media for I.T.courses */
@media all and (max-width:1000px){
    .itcourses1{
        width: 40%;
    }
}
@media all and (max-width:840px){
    .itcourses1{
        width: 50%;
        font-size: 1.1rem;
    }
}
@media all and (max-width:640px){
    .itcourses1{
        width: 60%;
        font-size: .9rem;
    }
    .itcourses1 ul li{
        font-size: 1rem;
    }
}
@media all and (max-width:540px){
    .itcourses1{
        width: 70%;
    }
}
@media all and (max-width:450px){
    .itcourses1{
        width: 70%;
    }
}
@media all and (max-width:400px){
    .itcourses1{
        width: 80%;
    }
}
@media all and (max-width:370px){
    .itcourses1{
        width: 80%;
    }
}
@media all and (max-width:320px){
    .itcourses1{
        width: 90%;
    }
}
.business1 ul{
    list-style: none;
}
.business1 ul li:before{
    content: "\27A4";
    margin-right: 5px;
}
.business1 ul li{
    padding: 5px;
    font-size: 1.2rem;
}
.business1 ul li a{
    text-decoration: none;
    color: rgba(255,255,255,.8);
    transition: .5s ease;
}
.business1 ul li a:hover{
    color: #03A9F4;
}
.business2{
    margin-bottom: -20px;
    margin-top: -10px;
    text-align: end;
}
.business3{
    font-size: 1.5rem;
    font-weight: 900;
    border: none;
    outline: none;
    color: red;
    background: transparent;
    cursor: pointer;
}
/* for the pupup business courses ends here */
/* @media for business courses */
@media all and (max-width:1000px){
    .business1{
        width: 40%;
    }
}
@media all and (max-width:840px){
    .business1{
        width: 50%;
        font-size: 1.1rem;

    }
}
@media all and (max-width:640px){
    .business1{
        width: 60%;
        font-size: .9rem;
    }
    .business1 ul li{
        font-size: 1rem;
    }
}
@media all and (max-width:540px){
    .business1{
        width: 70%;
    }
}
@media all and (max-width:450px){
    .business1{
        width: 70%;
    }
}
@media all and (max-width:400px){
    .business1{
        width: 80%;
    }
}
@media all and (max-width:370px){
    .business1{
        width: 80%;
    }
}
@media all and (max-width:320px){
    .business1{
        width: 90%;
    }
}
/* @media for business courses ends here*/
/* @media for second nav */
@media all and (max-width:1025px){
    .navbar{
        padding: 0 50px;
    }
}
@media all and (max-width:887px){
    .navbar{
        padding: 0 20px;
    }
}
@media all and (max-width:950px){
    .navbar{
        padding: 0 80px;
    }
    .hamburger{
        display: block;
    }
    .nav-menucontrol{
        position: fixed;
        z-index: 200;
        top: 0;
        /* left: 0; */
        bottom: 0;
        right: 100%;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        display: block;
    }
    .nav-menucontrol1{
        position: fixed;
        top: 0;
        left: 100%;
        /* right: 0; */
        bottom: 0;
        width: 70%;
        height: 100%;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 1);
        display: block;
        transition: 0.5s;    
    }
    .nav-menu{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        display: block;
        background: rgba(0,0,0,.1);
        width: 70%; 
        height: 100%;
        text-align: center;
        transition: 0.5s;
        padding-left: 0;
    }
    .nav-menu-close{
        display: block;
        color: #ffffff !important;
        text-align: start;
        padding-left: 20px;
        font-size: 3rem !important;
        font-weight: 100 !important;
        transition: .5s;
    }
    .nav-menu-close:hover{
        color: rgb(206, 5, 5) !important;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-link{
        padding-bottom: 30px;
    }
    .nav-menu li{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .nav-menu li:first-child{
        border-bottom: none;
    }  
    .nav-menu li:last-child{
        border-bottom: none;
    } 
    .nav-menu li a{
        color: rgba(255,255,255,.8);
    }
}
@media all and (max-width:500px){
    .navbar{
        padding: 0 40px;
    }
}
@media all and (max-width:300px){
    .navbar{
        padding: 0 20px;
    }
}
@media all and (max-width:200px){
    .navbar{
        padding: 0 10px;
    }
}
@media all and (max-width:150px){
    .navbar{
        flex-direction: column;
    }
}
/* header copy ends */
/* .maincontrolall */
/* 11111111111111111 for the sliding imge*/
#one{
    width: 99.8%;
    overflow: hidden;
    margin: auto;
}
#one1{
animation: 20s slider infinite ease-out;
animation-delay: 5s;
display: flex;
width: 100%;
height: 600px;
position: relative; 
}
#images{
    min-width: 100%;
    height: 600px;
}
.mainall{
    width: 100%;
    height: 605px;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0,0,0,.5),rgba(0,0,0,.5));
    position: absolute;
    top:120px;
    left: 0;
    z-index: 0;
}
@keyframes slider{
    25%{
    transform: translateX(-100%);
    }
    50%{
    transform: translateX(-200%);
    }
    75%{
    transform: translateX(-300%);
    }
    100%{
    transform: translateX(0%);
    }
}
/* 11111111111111111 for the sliding imge ends*/
.maincontroallcolor{
    z-index: 0;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5),rgba(0,0,0,.5)),url("aiist1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
/* .maincontrol */
.maincontro{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
/* .maincontro ends here */
/* main */
.main{
    padding-left: 40px;
    padding-bottom: 40px;
    color: rgba(255,255,255,.8);
}
.p1{
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 1px;
}
.span1{
    color: #03A9F4;
    border-bottom: 4px solid rgba(255,255,255,.8);
}
.p2{
    font-size: 3rem;
    font-weight: 900;
    background-image: linear-gradient(to right, rgba(0,0,255,1),rgba(3,169,244,1),rgba(0,0,255,1));
    color: transparent;
    -webkit-background-clip: text;
    background-size: 23%;
    letter-spacing: 5px;
    margin-bottom: -32px;
    margin-top: -32px;
}
.p3{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.p4{
    font-size: 2rem;
    font-weight: bold;
    margin-top: -32px;
    letter-spacing: 1px;
}
.p5{
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(4, 1, 167);
    box-shadow: 0px 3px 40px 15px rgba(255,255,255,.3);
    transition: .5s ease;
}
.p5:hover{
    background: rgba(3, 2, 95, 0.836);
    color: rgba(255,255,255,.8);
}
#span2{
    color: #03A9F4;
    font-weight: bold;
}
#span3{
    border-bottom: 4px solid rgba(255,255,255,.8);
}
.spanclose{
    color: #ffffff !important;
    text-align: start;
    padding-left: 20px;
    font-size: 3rem !important;
    font-weight: 100 !important;
}
.spanclose:hover{
    color: rgb(204, 0, 0);
}
.p7{
    margin-top: -15px;
    margin-bottom: -15px;
}
.p8{
    font-size: 1.7rem;
    color: #03A9F4;
    font-weight: bold;
    padding-bottom: 150px;
}
/* main ends here */
/* main1 */
.main1{
    color: rgba(255,255,255,.8);
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
/* for AIIST changing text */
.main11{
    text-align: center;
    margin-bottom: -15px;
    margin-top: -20px;
}
.main12{
    font-size: 3rem;
    font-weight: bold;
    color: #03A9F4;
    margin-top: 0;
    margin-bottom: 0;
}
.main12:before{
    content: "";
    animation: change 15s infinite;
}
/* end for AIIST changing text */
/* @keyframes for AIIST changing text */
@keyframes change{
    0%{
        content: "AIIST";
        color: blue;
    }
    17%{
        content: "AFRICA";
        color: #03A9F4;
    }
    34%{
        content: "INTERNATIONAL";
        color: #03A9F4;
    }
    51%{
        content: "INSTITUDE";
        color: #03A9F4;
    }
    68%{
        content: "OF SCIENCE";
        color: #03A9F4;
    }
    85%{
        content: "AND TECHNOLOGY";
        color: #03A9F4;
    }
    100%{
        content: "AIIST";
        color: blue;
    }
}
/*end of @keyframes for AIIST changing text */
/* @media for AIIST changing text */
@media all and (max-width:500px){
    .main12{
        font-size: 2.5rem;
    }
}
@media all and (max-width:450px){
    .main12{
        font-size: 2rem;
    }
    .p2{
        font-size: 2.5rem;
        font-weight: 900;
    }
    .p1, .p3{
        font-size: 1.7rem;
    }
}
@media all and (max-width:350px){
    .main12{
        font-size: 1.8rem;
    }
    .p2{
        font-size: 2.2rem;
        font-weight: 900;
    }
    .p1, .p3{
        font-size: 1.5rem;
    }
}
/*end of @media for AIIST changing text */

/* .main1 ends here */
/* .maincontrolall ends here */
/* .main2 */
.viewit{
    text-decoration: none;
    color: black;
    background: #ffffff;
    padding: 5px 10px;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 3px;
    transition: .5s;
}
.viewit:hover{
    background: #c3c2c2;
}
.spanit{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    z-index: 1;
}
#zoom1{
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
}
.zoom11{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(13, 1, 179);
    cursor: pointer;
    clip-path: circle(18% at 0% 0%);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#zoom1:hover .zoom11{
    clip-path: circle(100%);
    background: rgba(13, 1, 179, 0.76);
}
#zoom2{
    cursor: pointer;
    transition: .3s ease-in-out;
}
.main2{
    display: flex;
    margin-top: -160px;
}
.main21{
    display: flex;
    width: 50%;
}
.main22{
    width: 50%;
    border: 2px solid white;
    padding: 10px;
    background: rgb(191, 194, 194);
    text-align: center;
    box-shadow: 0px 3px 10px 5px rgba(255, 255, 255, 0.603);
    margin-left: 10px;
    margin-right: 10px;
}
.main22 p{
    font-weight: 600;
    letter-spacing: .3px;
    color: rgb(26, 25, 25);
}
.p9{
    margin-top: 1px;
    color: blue;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    transition: .5s ease;
}
.p9:hover{
    color: rgb(1, 0, 56);
    border-bottom: .1px solid rgb(1, 0, 56);
}
#readmore{
    text-decoration: none;
    border-bottom: 2px dotted #03A9F4;
    color: blue;
    transition: .9s ease;
}
#readmore:hover{
    color: red;
    border-bottom: 2px dotted blue;
}
/* .main2 ends here */
/* @media .main2 */
@media all and (max-width:950px){
    .main2{
        flex-direction: column;
    }
/* for control of the below element */
    #softwareeng{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    #webdev{
        margin-left: 0;
    }
/* end for control of the below element */
    .main21{
        width:90%;
        margin: auto;
        margin-bottom: 10px;
    }
    .main3{
        flex-direction: column;
        margin-top: 0 !important;
    }
}
@media all and (max-width:650px){
    .main21{
        flex-direction: column;
    }
    .main22{
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
    /* for control of the below element */
    #databasetec{
        margin:auto !important;
    }
    #softwareeng{
       margin: auto !important;
    }
    #webdev{ 
        margin:auto !important;
        margin-top: 10px !important;
    }
    /* end of control for the below element */
}
@media all and (max-width:450px){
    .main22{
        width: 90%;
    }
}
/* @media main2 ends */
/* for control of the below element */
#softwareeng{
    margin-left: 0;
    margin-right: 0;
}
#databasetec{
    margin-left: 0;
}
/* end of control for the below element */
/* .main3 */
.main3{
    margin-top: 10px;
    display: flex;
}
/* .main3 ends here */
/* studentcommunity */
.studentcommunity{
    width: 100%;
    height: 500px;
    background:linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,.7),rgba(0,0,0,.7)), url('Computerlab.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.studentcommunity1{
    width: 30%;
    background: rgb(4, 1, 167);
    color: #ffffff;
    padding: 20px;
    position: relative;
}
.sp4{
    background: #ffffff;
    position: absolute;
    clip-path: circle(15% at 0% 0%);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.sp1{
    font-size: 2rem;
}
.sp3{
    width: 20%;
    height: 4px;
    background: #ffffff;
    margin: auto;
}
@media all and (max-width:1000px){
    .studentcommunity1{
        width: 40%;
    }
}
@media all and (max-width:800px){
    .studentcommunity1{
        width: 50%;
    }
    .studentcommunity{
        padding-left: 30px;
    }
}
@media all and (max-width:500px){
    .studentcommunity1{
        width: 60%;
    }
    .sp1{
        font-size: 1.7rem;
    }
}
@media all and (max-width:350px){
    .studentcommunity1{
        width: 70%;
    }
    .sp1{
        font-size: 1.4rem;
    }
    .studentcommunity{
        padding-left: 10px;

    }
}
/* studentcommunity ends */
 /* apply for admission */
 .applyforadmission{
     width: 100%;
     height: 400px;
     box-sizing: border-box;
     overflow: hidden;
     margin-top: 10px;
     display: flex;
     background: rgb(4, 1, 167);
 }
 .applyforadmission1{
    width: 40%;
    overflow: hidden;
}
.applyforadmission2{
    width: 60%;
    padding: 20px 200px 20px 30px;
    position: relative;
    box-sizing: border-box;
    background: rgb(4, 1, 167);
}
.applyforadmission3{
    text-align: center;
}
.applyforadmission4{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
}
.applyforadmission4::-webkit-scrollbar{
    display: none;
}
.applyimage{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .5s;
}
.applyimage:hover{
    transform: scale(1.1);
}
.afap1{
    color: #ffffff;
    font-size: 2rem;
}
.afap2{
    color: #ffffff;
}
.afap3{
    color: rgb(4, 1, 167);
    text-decoration: none;
    background: #ffffff;
    padding: 10px 30px;
    border-radius: 3px;
    font-size: .8rem;
    font-weight: bold;
    transition: .5s;
}
.afap3:hover{
    background: #c3c2c2;
}
.afap4{
    background: rgb(4, 1, 167);
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    top: 45%;
    left: -20px;
}
.afap5{
    background: #ffffff;
    position: absolute;
    clip-path: circle(30% at 100% 0%);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
/* @media apply for admission  */
@media all and (max-width:900px){
    .applyforadmission2{
        padding: 20px 150px 20px 30px;
    }
}
@media all and (max-width:700px){
    .applyforadmission2{
        padding: 20px 100px 20px 30px;
    }
}
@media all and (max-width:600px){
    .applyforadmission{
        flex-direction: column;
        height: auto;
        background: #ffffff;
    }
    .applyforadmission1{
        width: 90%;
        height: 300px;
        margin: auto;
    }
    .applyforadmission2{
        padding: 20px 50px 20px 30px;
        width: 90%;
        height: 300px;
        margin: auto;
    }
    .afap4{
        top: -20px;
        left: 45%;
    }
}
@media all and (max-width:600px){
    .applyforadmission1{
        width: 100%;
    }
    .applyforadmission2{
        width: 100%;
    }
}
/* @media apply for admission ends */
 /* apply for admission ends */
 /* about */
 .about{
     display: flex;
     margin-top: 10px;
 }
 .about1{
    width: 30%;
    height: 400px;
    position: relative;
    background: rgb(4, 1, 167);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
 }
 .about2{
    width: 70%;
    height: 400px;
    overflow: hidden;
    background:linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,.7),rgba(0,0,0,.7)), url('istockphoto-164548944-612x612.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px 20px 20px 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
 }
 .about3{
     width: 70%;
     overflow: auto;
 }
 .about3::-webkit-scrollbar{
     display: none;
 }
 .span6{
     font-size: 1.5rem;
 }
 .ap1{
    color: #ffffff;
    transform: rotate(-90deg);
    font-size: 3rem;
 }
 .ap2{
     position: absolute;
     width: 40px;
     height: 40px;
     background: rgb(4, 1, 167);
     transform: rotate(45deg);
     right: -20px;
 }
.ap3{
    color: #ffffff;
}
.ap4{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    clip-path: circle(30% at 0% 100%);
}
.ap5{
    color: #ffffff;
    font-size: 3rem;   
}
.ap6{
    position: absolute;
    background: rgb(4, 1, 167);
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    left: 50%;
    bottom: -20px;
}

.about4{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 10px;

}
.about5{
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7),rgba(0,0,0,.7),rgba(0,0,0,.7)),url('FB_IMG_1666864492144.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
.about6{
    width: 100%;
    height:400px; 
    background: rgb(4, 1, 167);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
  /* 111111 */
  #main{
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}
#main1{
    display: flex;
    overflow:auto;
    width: 100%;
    box-sizing: border-box;
}
#main1::-webkit-scrollbar{
    display: none;
}
#p1h2{
    color: white;
}
#h1, #h2, #h3{
    cursor: pointer;
    margin: 0;
    padding: 15px 20px;
    min-width: 33.5%;
    transition: .5s;
}
#h1:hover{
    color: #979494;
}
#h2:hover{
    color: #979494;
}
#h3:hover{
    color: #979494;
}
#h1{
    border: 1px solid rgb(4, 1, 167);
    color: #ffffff;
    box-sizing: border-box;
}
#h2{
    border: 1px solid rgb(4, 1, 167);
    color: #ffffff;
    box-sizing: border-box;
}
#h3{
    border: 1px solid rgb(4, 1, 167);
    color: #ffffff;
    box-sizing: border-box;
}
#p2, #p3{
    display: none;
    overflow: hidden;
}
#p1{
    background: transparent;
    margin-top: 0;
    padding: 20px 30px 20px 20px;
    height: 320px;
    color: #ffffff;
}
#p2{
    background: transparent;
    margin-top: 0;
    padding: 20px 30px 20px 20px;
    height: 320px;
    color: #ffffff;
}
#p3{
    background: transparent;
    margin-top: 0;
    padding: 20px 30px 20px 20px;
    height: 320px;
    color: #ffffff;
}
/* 1111111 end */
/* @media about */
@media all and (max-width:800px){
    .about4{
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
    }
    .about5{
        width: 100%;
    }
    .about6{
        width: 100%;
    }
}
@media all and (max-width:700px){
    .about3{
        width: 100%;
    }
    .ap1{
        font-size: 2.5rem;
     }
}
@media all and (max-width:600px){
    .about1{
        width: 100%;
    }
    .about2{
        width: 100%;
    }
    .about3{
        width: 100%;
    }
    .ap1{
        font-size: 2.5rem;
     }
     .about{
       flex-direction: column;
    }
    .ap2{
        bottom: -20px;
        left: 45%;
    }
}
@media all and (max-width:500px){
    #h1, #h2, #h3{
        font-size: 1.2rem;
    }
}
/* @media about ends*/
 /* about ends*/
/* contact */
.contactfirst{
    margin-bottom: 20px;
    margin-top: 10px;
    /* display: none; */
}
.contactcont{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contact1{
    width: 40%;
    height: 500px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    background: rgb(4, 1, 167);
}
.contactimage{
    width: 100%;
    height: 510px;
}
.contactform{
    width: 100%;
    box-sizing: border-box;
}
.contact2{
    width: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
    border-right: rgb(4, 1, 167) 2px solid;
    border-left: rgb(4, 1, 167) 2px solid;
    overflow: hidden;
    display: flex;
    padding: 0px 20px;
}
.contact22, .contact23{
    width: 50%;
    text-align: center;
    overflow: auto;
    height: 500px;
    box-sizing: border-box;
}
.contact22::-webkit-scrollbar{
    display: none;
}
.contact23::-webkit-scrollbar{
    display: none;
}
.callus{
    display: flex;
    align-items: center;
    justify-content: center;
}
.callus ol{
    list-style-type: none;
    padding-left: 5px;
}
.callus ol li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    transition: .5s;
}
.callus ol li a:hover{
    color: #1a75bc;
}
.phoneimage{
    color: rgb(4, 1, 167) !important;
}
.follow{
    display: flex;
    justify-content: center;
}
.follow ol{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 0;
}
.followimage{
    min-width: 40px;
    max-width: 40px;
    height: 40px;
}
.followimage1{
    min-width: 45px;
    max-width: 45px;
    height: 45px;
}
.input{
    width: 95%;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border: 1px solid rgb(4, 1, 167);
    font-size: 1.1rem;
    padding: 0 10px 0 10px;
}
.input::-webkit-input-placeholder{
    color: rgb(4, 1, 167);;
    font-size: .8rem;
    font-weight: bold;
    /* position: relative; */
}
/* .input::-webkit-input-placeholder::after{
    content: '*';
    color: rgb(4, 1, 167);;
    font-size: .9rem;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 40%;
} */
/* input[type=text]:input-placeholder:after{
    content:'*';
    color: red;
    font-size: 20px;
} */
.inputfirst:focus{
    border: none;
    box-shadow: 0px 0px 10px rgba(1, 102, 1, 0.733);
    border-radius: 2px;
}
.inputsecond:focus{
    border: none;
    box-shadow: 0px 0px 10px rgba(1, 102, 1, 0.733);
    border-radius: 2px;
}
.input1{
    width: 95%;
    box-sizing: border-box;
    font-size: 1.2rem;
    outline: none;
    border: rgb(4, 1, 167) 1px solid;
    padding: 0 10px 0 10px;
    transition: .8s ease;
}
.input1:focus{
    border: none;
    box-shadow: 0px 0px 10px rgba(1, 102, 1, 0.733);
    border-radius: 2px;
}
.input1::-webkit-input-placeholder{
    color: rgb(4, 1, 167);;
    font-size: .9rem;
    font-weight: bold;
}
.submit{
    width: 95%;
    height: 40px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 5px;
    background: rgb(4, 1, 167);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
}
.submit:hover{
    background: rgb(1, 0, 56);
}
.cp24{
    color: rgb(4, 1, 167);
    font-weight: bold;
}
/* @media contact  */
@media all and (max-width:1200px){
    .contact2{
        width: 60%;
    }
}
@media all and (max-width:1000px){
    .contact1{
        width: 30%;
    }
    .contact2{
        width: 70%;
    }
}
@media all and (max-width:860px){
    .contactcont{
        flex-direction: column;
    }
    .contact1{
        width: 90%;
        margin: auto;
    }
    .contact2{
        width: 90%;
        margin: auto;
    }
}
@media all and (max-width:650px){
    .contact2{
        flex-direction: column;
    }
    .contact22{
        margin: auto;
        width: 100%;
    }
    .contact23{
        margin: auto;
        width: 100%;
    }
}
@media all and (max-width:330px){
    .callus ol li a{
        font-size: 1rem;
    }
}
/* @media contact  ends*/
/* contact ends */
/* footer */
#footer{
    background: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 2px solid rgba(255,255,255,.3);
    padding-bottom: 30px;
}
#fo1, #fo2{
    width: 50%;
    box-sizing: border-box;
    display: flex;
}
/* for follow */
#follow{
    width: 30%;
    text-align: center;
    box-sizing: border-box;
}
#follow h2{
    color: rgba(255,255,255,.3);
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 30px;
}
#follow ol{
    list-style-type: none;
    justify-content: center;
    align-items: center;

}
#follow ol li{
    padding: 10px;
    margin-left: -50px;

}
#followcolor{
    color: #ffffff !important;
    transition: .5s;
}
#followcolor:hover{
    color: red !important;
}
/* for form */
#form1{
    width: 40%;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
    color: rgba(255,255,255,.3);
    padding: 0 10px;
}
#form1 h2{
    font-size: 1.2rem;
    margin-bottom:14px;
    margin-top: 30px;
    text-align: center;
}
#form1 input{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;
    outline: none;
    font-size: .7rem;
    border: 2px solid rgba(255,255,255,.3);
    background: transparent;
    margin-bottom: 10px;
    color: rgba(255,255,255,.4);
    cursor: pointer;
}
#form1 textarea{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    font-size: .8rem;
    cursor: pointer;
    border: 2px solid rgba(255,255,255,.3);
    color: rgba(255,255,255,.4);
    padding-left: 10px;
    background: transparent;
    outline: none;
}
#form1sub{
    width: 100% !important;
    box-sizing: border-box;
}
/* for link */
#link1{
    width: 30%;
    box-sizing: border-box;
    padding: 0px;
    font-family: sans-serif;
    color: rgba(255,255,255,.3);
}
#link1 h2{
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
#link1 ol{
    list-style-type: none;
}
#link1 ol li{
    font-weight: bold;
    padding-bottom: 8px;
}
#link1 ol li a{
    text-decoration: none;
    color: #b9b8b8;
    transition: .7s ease;
}
#link1 ol li a:hover{
    color: rgba(0,136,204,.7);
}
/* for service */
#service{
    width: 40%;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0 10px;
}
#service h2{
    color: rgba(255,255,255,.3);
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
}
#service ol{
    list-style-type: none;
}
#service ol li{
    padding-bottom: 8px;
}
#service ol li a{
    text-decoration: none;
    color: #b9b8b8;
    font-weight: bold;
    transition: .7s ease;
}
#service ol li a:hover{
    color: rgba(0,136,204,.7);
}
/* for contact */
#contact{
    width: 50%;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0 10px;
}
#contact h2{
    color: rgba(255,255,255,.3);
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
#contact #d1, #d2, #d3, #d4{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
#contact a{
    color: rgba(255,255,255,.3);
    text-decoration: none;
    padding-left: 5px;
    transition: .5s ease;
}
#contact a:hover{
    color: rgba(0,136,204,.8);
}
#forwordslash{
    color: #b9b8b8;
    font-weight: 900;
    margin-left: 5px;
}
/* for foot */
#foot{
    border-top: 2px solid rgba(255,255,255,.3);
    color: rgba(255,255,255,.3);
    font-size: 1rem;
    font-family: sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}
#foot p{
    padding:0 20px;
}
#foota{
    text-decoration-line: none;
    color: blue;
    border-bottom: 2px dotted rgba(255,255,255,.8);
    margin-left: 5px;
    transition: .5s ease;
}
#foota:hover{
    color: rgba(0,136,204,.8);
}
/* footer @media */
@media all and (max-width:700px){
    #footer{
        flex-direction: column;
    }
    #fo1, #fo2{
        width: 100%;
    }
    #service{
        padding-left: 40px;
    }
}
@media all and (max-width:470px){
    #fo1, #fo2{
        flex-direction: column;
    }
    #follow{
        width: 100%;
    }
    #follow ol{
        margin: auto;
        margin-left: 0;
        display: flex;
        justify-content: center;
        width: 80%;
    }
    #follow ol li{
    text-align: center;
    margin-left: 0;

    }
    #form1{
        margin: auto;
        width: 50%;
    }
    #link1{
        margin: auto;
        width: 50%;
    }
    #service{
        margin: auto;
        width: 50%;
        justify-content: center;
        padding-left: 10px;
    }
    #contact{
        margin: auto;
    }
    #foot{
        flex-direction: column;
        text-align: center;
    }
}
@media all and (max-width:230px){
    #d3,#d2{
        flex-direction: column;
    }
}
/* end here */
/* footer ends */
/* apply now */
#applynow{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    display: none;
}
.applynow2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#applynow.applyall{
    pointer-events: all;
    display: block;
}
.applynow1{
    width: 15%;
    background: rgb(1, 123, 172);
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    animation: applynow .5s;
}
@keyframes applynow{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.applynowp{
    font-size: .9rem;
    margin-top: 0;
    margin-bottom: 5px;
}
.applynowa{
    text-decoration: none;
    background: rgb(4, 1, 167);
    color: #ffffff;
    padding: 5px 10px;
    font-size: .7rem;
    transition: .5s;
}
.applynowa:hover{
    background: rgb(1, 0, 56);
}
/* apply now ends */
/* coursescontrol */
.coursescontrol{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(191, 194, 194);
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    transition: .5s;
    animation: course .5s;
}
@keyframes course{
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1)
    }
}
.maincoursescontrol{
    display: flex;
    align-items: center;
    overflow: auto;
}
.anf1{
    color: #ffffff;
    text-decoration: none;
    background: rgb(4, 1, 167);;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: .8rem;
    font-weight: bold;
    transition: .5s;
    animation: applyform 1s infinite ease-in-out;
}
@keyframes applyform{
    0%{
        background: rgb(4, 1, 167);
        /* opacity: 1; */
    }
    /* 20%{
        background: rgb(1, 97, 6);
    } */
    50%{
        background: rgb(1, 97, 6);
    }
    /* 70%{
        background: rgb(1, 97, 6);
    } */
    100%{
        background: rgb(4, 1, 167);
    }
}
.applynowform{
    position: absolute;
    top: 0;
    right: 10px;
}
.ourcoursescontrol{
    padding: 0 10px 20px 10px;
    width: 100%;
    overflow: auto;
    display: flex;
    scroll-behavior: smooth;  
    /* gap: 10px;  */
}
.ourcoursescontrol::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;    
}
.margincontrol{
    margin: 0 10px;
}
.margincontrolquickbook{
    margin-left: 10px;
}
.leftandrightcontrol{
    position: relative;
    width: 100%;
    margin-top: -20px;
    height: 40px;

}
.closecourse{
    position: absolute;
    top: 0;
    left: 10px;
}
.closecourse a{
    margin-top: 0;
    background: rgb(148, 2, 2);
    color: #ffffff;
    font-size: .8rem;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    transition: .5s;
}
.closecourse a:hover{
    background: rgb(61, 1, 1);
}

#allbutton1{
    background: transparent;
    position: absolute;
    left: 45%;
    top: 0;
    display: flex;
    z-index: 100;
    align-items: center;
}
#leftbutton{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(4, 1, 167);
    border-radius: 50%;
    padding:0 10px 5px 5px;
    transition: .5s ease;
}
#leftbutton:hover{
    color: rgb(161, 3, 3);
}
#rightbutton{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(4, 1, 167);
    border-radius: 50%;
    padding:0 5px 5px 10px;
    transition: .5s ease;
}
#rightbutton:hover{
    color: rgb(161, 3, 3);
}
.informationtechnology{
    min-width: 30%;
    padding: 10px 5px;
    margin-bottom: 10px;
    background: whitesmoke;
    height: 400px;
    overflow: auto;
    scroll-behavior: smooth;    
    box-shadow: 0px 0px 5px rgba(21, 2, 129, 0.945);
    box-sizing: border-box;
}
.informationtechnology table{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}
.informationtechnology::-webkit-scrollbar{
    /* display: none; */
    /* scroll-behavior: smooth; */
}
.informationtechnology::-webkit-scrollbar{
    width: 7px;
}
.informationtechnology::-webkit-scrollbar-track{
    /* background: rgba(75, 0, 0, 0.65); */
    /* border-radius: 50px; */
}
.informationtechnology::-webkit-scrollbar-thumb{
    /* background-image:linear-gradient(to top, rgb(61, 1, 1),rgb(4, 1, 167),rgb(61, 1, 1)); */
    /* border-radius: 50px; */
    background: rgb(1, 0, 56);
}
/* @media for .informationtechnology */
@media all and (max-width:950px){
    .informationtechnology{
        min-width: 40%;
    }
}
@media all and (max-width:800px){
    .informationtechnology{
        min-width: 45%;
    }
}
@media all and (max-width:700px){
    .informationtechnology{
        min-width: 50%;
    }
    .informationtechnology::-webkit-scrollbar{
        display: none;
        /* scroll-behavior: smooth; */
    }
}
@media all and (max-width:600px){
    .informationtechnology{
        min-width: 60%;
    }
}
@media all and (max-width:500px){
    .informationtechnology{
        min-width: 70%;
    }
}
@media all and (max-width:450px){
    .informationtechnology{
        min-width: 80%;
    }
}
@media all and (max-width:350px){
    .informationtechnology{
        min-width: 90%;
    }
}
/* end of @media for .informationtechnology */
/* .database{
    margin-left: 10px;
}
.webdevelopment{
    margin-left: 10px;
}
.softwareengineer{
    margin-left: 10px;
    padding-right: 10px;
}
.graphicdesign{
    margin-left: 10px;
    padding-right: 10px;
}
.computeroperation{
    margin-left: 10px;
}
.advanceexcel{
    margin-left: 10px;
}
.quickbook{
    margin-left: 10px;
} */
#p1, #p2, #p3, #p4{
    text-align: center;
}
table, tr, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
    background: whitesmoke;
}
table{
   margin-right:10px;
   margin-left:10px;
}
#cp1{
    padding: 0 20px;
    font-size: 1.1rem;
    color: blue;
}
#cspan1{
    font-weight: bold;
    border-bottom: 3px solid rgb(187, 3, 3);
}
#cspan2{
    color: rgb(187, 3, 3);
    font-weight: bold;
}
#cp2{
    padding: 0 20px;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(187, 3, 3);
    margin-top: -10px;
}
#cspan3{
    border-bottom: 3px solid blue;
}
#cp3{
    color: blue;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 20px;
}
#cp4{
    color: rgb(148, 2, 2);
    padding: 0 20px;
}
#cp5{
    text-align: center;
}
/* coursescontrol ends */
/* itcoursefinal */
.itcoursefinal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* overflow: hidden; */
    z-index: 100;
    padding: 0 10px;
    padding-bottom: 20px;
    background: rgb(191, 194, 194);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    animation: itcou .5s;
}
@keyframes itcou{
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1)
    }
}
.itcoursefinal1{
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-left: 0;
}
.itcoursefinal1::-webkit-scrollbar{
    /* display: none; */
}
.itcoursefinal1::-webkit-scrollbar{
    width: 8px;
}
.itcoursefinal1::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.863);
}
.itcoursefinal1::-webkit-scrollbar-thumb{
    background: rgb(1, 0, 56);

}
.itcoursefinal1 p{
    text-align: center;
}
.itcoursefinalclose{
    position: fixed;
    top: 10px;
    left: 10px;
}
.itcoursefinalclose a{
    margin-top: 0;
    background: rgb(148, 2, 2);
    color: #ffffff;
    font-size: .8rem;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    transition: .5s;
}
.itcoursefinalclose a:hover{
    background: rgb(61, 1, 1);
}
.ittable1{
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}
/* itcoursefinal ends */
/* @media for itcoursefinal */
@media all and (max-width:600px){
    .ittable1{
        width: 90%;
    }
    .itcoursefinal1::-webkit-scrollbar{
        display: none;
    }
}
/* @media for itcoursefinal ends */
/* itcoursefinal ends */
/* for the apply now form */
.applyform{
    width: 100%;
    height: 100%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    display: none;
}
.applyform2{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.applyform1{
    width: 30%;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255,255,255,.8);
    margin: auto;
    overflow: hidden;
    padding: 40px 20px 20px 20px;
    position: relative;
    transition: .5s;
    animation: apply .5s;
}
@keyframes apply{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.applyform1 input{
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    border: none;
    border: 1px solid gray;
    outline: none;
    color: rgb(1, 0, 56);
    font-size: 1.1rem;
    padding-left: 10px;
    box-sizing: border-box;
    transition: .5s;
}
.applyform1 input:focus{
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(1, 102, 1, 0.733);
}
.applyform1 input::-webkit-input-placeholder{
    color: rgb(13, 1, 179);
    font-weight: bold;
    font-size: .8rem;
}
.applysubmit{
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    cursor: pointer;
    background: rgb(1, 71, 1);
    border: none;
    outline: none;
    color: #ffffff;
    transition: .5s;
}
.applysubmit:hover{
    background: rgb(0, 41, 0);
}
.applyformclose{
    position: absolute;
    top: -5px; 
    left: 20px;
    font-size: 2rem;
    color: rgb(187, 3, 3);
    font-weight: bold;
    cursor: pointer;
}
@media all and (max-width:900px){
    .applyform1{
        width: 40%;
    }
}
@media all and (max-width:700px){
    .applyform1{
        width: 50%;
    }
}
@media all and (max-width:600px){
    .applyform1{
        width: 60%;
    }
}
@media all and (max-width:500px){
    .applyform1{
        width: 80%;
    }
}
@media all and (max-width:300px){
    .applyform1{
        width: 90%;
    }
}
/* for the apply form ends*/
